IHOMELAND_CONFIG=config/local.yaml
IHOMELAND_ENV=dev
IHOMELAND_HTTP_ADDR=127.0.0.1:8080
IHOMELAND_LOG_LEVEL=info
IHOMELAND_PROTOCOL_VERSION=0
IHOMELAND_RELEASE_PATH=../release.json
IHOMELAND_SERVER_VERSION_PATH=version.json
IHOMELAND_CLIENT_VERSION_PATH=../client/version.json

IHOMELAND_MYSQL_ADDR=127.0.0.1:33306
IHOMELAND_MYSQL_DATABASE=ihomeland
IHOMELAND_MYSQL_USER=ihomeland
IHOMELAND_MYSQL_PASSWORD=ihomeland
IHOMELAND_MYSQL_MAX_OPEN_CONNS=16
IHOMELAND_MYSQL_MAX_IDLE_CONNS=8
IHOMELAND_MYSQL_CONN_MAX_LIFETIME=30m
IHOMELAND_MYSQL_ROOT_PASSWORD=ihomeland_root
IHOMELAND_MYSQL_PORT=33306

IHOMELAND_REDIS_ADDR=127.0.0.1:36379
IHOMELAND_REDIS_PASSWORD=
IHOMELAND_REDIS_DB=0
IHOMELAND_REDIS_DIAL_TIMEOUT=5s
IHOMELAND_REDIS_PORT=36379
